{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-3">Bienvenue sur SemperVirens !</h1>
    <p class="lead">Notre but est de vous aider à mener une vie plus écologique/</p>

    
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{path('login')}}" role="button">Login</a>
      <a class="btn btn-primary btn-lg" href="{{path('register')}}" role="button">Register</a>
      
    </p>
  </div>
{% endblock %}
